--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.37.1

# PyTorch (CPU wheels only on Streamlit Cloud)
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

# NLP stack
transformers==4.42.4
tokenizers==0.19.1
datasets==2.20.0
sentence-transformers==3.0.1

# ML & imbalance
scikit-learn==1.5.1
imbalanced-learn==0.12.3

# Data & utils
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2

# Plots & NLP extras
matplotlib==3.9.2
seaborn==0.13.2
nltk==3.9.1
